#login div{
	margin: 0 auto;
	padding: 15px;
	width: 359px;
}

#login{
	height: 100vh;
	background-color: rgba(200, 200, 200, 0.8);
	padding: 30px;
}

#login div fieldset table tbody tr td{
	padding: 2px;
}

#login div fieldset table tbody tr td input{
	width: 100%;
}

#welcome{
	margin: 0 auto;
	padding: 30px;
	width: 550px;
}


#welcome img{
	width: 480px;
}

#welcome div{
	padding: 15px;
}

#welcome div input{
	width: 90%;
}

#searchMenu{
	width: 500px;
	float: left;
}

#searchMenu #dashboardCompanyInput{
	margin-top: 10px;
	width: 200px;
}

#searchMenu a{
	color: white;
}

#avgNewsSentimentGraph{
	width: 50%;
	height: 300px;
}

#avgNewsSentimentGraphCanvas{
	width: 100%;
	height: 100%;
}

#avgNewsSentimentGraphSlider,#avgNewsSentimentGraphSliderProduct{
	width: 300px;
}

#competitorsSentimentGraph{
	width: 50%;
	height: 300px;
}

#competitorsSentimentGraphCanvas{
	width: 100%;
	height: 100%;
}

#competitorsSentimentGraphSlider{
	width: 300px;
}

#advancedOptions div{
	display: none;
	width: 100%;
}

#loading{
	display: none;
	position: absolute;
	height: 100vh;
	width: 100%;
	z-index: 99999;
	background-color: rgba(50, 50, 50, 0.7);
}

#loading img{
	display: block;
	margin-top: 45vh;
	margin-left: auto;
	margin-right: auto;
}
.ui-autocomplete { position: absolute; cursor: default;z-index:3000000 !important;}